# Data
data/*
!data/.gitkeep
!data/__init__.py
!data/*.py

# Models
models/
!models/.gitkeep

# Outputs
outputs/
!outputs/submissions/FROM-CONTES-ORGANIZERS----sample_submissions.csv
!outputs/.gitkeep

# Allow syncing prediction CSVs (User Request)
!outputs/esm_seq_preds/
!outputs/deeprc_cv_preds/
!outputs/cluster_preds_lancedb/
!outputs/stats_preds/
!outputs/task2_ranking/
!outputs/submission/

# Python
__pycache__/
*.pyc
.venv/
.env
.DS_Store

#random
misc.md

#dont push keys
docs/*.sh